Screen, App {
    background: #0f0f0f;
}

#logo {
    text-align: center;
    text-style: bold;
    padding-left: 3;
}

#subtitle {
    text-align: center;
    color: #DEC8A9;
    margin-bottom: 2;
    padding-left: 3;
}

#menu-wrapper {
    height: 6;
    width: 40;
    align: center top;
}

#main-menu {
    border: round #E53935;
    background: transparent;
    width: 100%;
    color: #DEC8A9;
}

OptionList > .option-list--option-highlighted {
    background: #E53935;
    color: #DEC8A9;
    text-style: bold;
}

OptionList:focus > .option-list--option-highlighted {
    background: #E53935;
    color: #DEC8A9;
    text-style: bold;
}

.panel {
    border: round #E53935;
    padding: 1;
    margin: 1 2 0 2;
    height: 100%;
    width: 1fr;
}

#back-hint {
    dock: bottom;
    width: 100%;
    padding-left: 2;
    color: #555555;
}

SystemMetrics {
    height: 3;
    padding-left: 1;
    margin-bottom: 1;
    color: #DEC8A9;
}

DataTable {
    color: #DEC8A9;
    scrollbar-background: #151515;
    scrollbar-color: #DEC8A9;
    scrollbar-color-hover: #ffffff;
    scrollbar-color-active: #ffffff;
}

DataTable > .datatable--header {
    background: #151515;
    color: #E53935;
    text-style: bold;
}

DataTable > .datatable--cursor {
    background: #E53935;
    color: #DEC8A9;
    text-style: bold;
}

#docker-list-container {
    width: 60%;
    border-right: solid #E53935;
    padding-right: 1;
}

#docker-logs-container {
    width: 40%;
    padding-left: 1;
}

#container-log {
    height: 100%;
    color: #DEC8A9;
    background: transparent;
    border: none;
}

#docker-hints {
    dock: bottom;
    color: #DEC8A9;
    text-align: center;
    margin-top: 1;
}
